/* 
    Document   : tyyli
    Created on : Apr 23, 2013, 12:20:46 PM
    Author     : sikuutti
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {background-color:#b0c4de;} 
text {font-family:"Times New Roman", Times, serif;}
h3 { color: red; }


#o
{
font-weight:bold;
}

